<script>

    function logout() {
        // localStorage.removeItem('token');
        window.location.href = '/auth/logout';
    }
</script>


<!-- Desktop Navigation -->
<nav class="hidden h-full md:flex bg-white w-64 p-4 flex-col shadow-md">
    <ul class="flex-1 space-y-2">
        <li>
            <a href="/admin" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md">
                <img src="../assets/dashboard.png" alt="Dashboard" class="h-6 w-6 mr-3">
                <span class="font-medium">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin/viewIncidents" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md">
                <img src="../assets/report.png" alt="View Incidents" class="h-6 w-6 mr-3">
                <span class="font-medium">View Incidents</span>
            </a>
        </li>
        <li>
            <a href="/admin/sendNotifications" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md">
                <img src="../assets/alert.png" alt="Send Notifications" class="h-6 w-6 mr-3">
                <span class="font-medium">Send Notifications</span>
            </a>
        </li>
        <li>
            <a href="/admin/safetyResources" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md">
                <img src="../assets/resources.png" alt="Safety Resources" class="h-6 w-6 mr-3">
                <span class="font-medium">Safety Resources</span>
            </a>
        </li>
        <li>
            <a href="/admin/generateCode" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md">
                <img src="../assets/password-entry.png" alt="Generate Code" class="h-6 w-6 mr-3">
                <span class="font-medium">Generate Code</span>
            </a>
        </li>
        <li>
            <a href="/admin/emergencyAlerts" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md">
                <img src="../assets/caution.png" alt="Generate Code" class="h-6 w-6 mr-3">
                <span class="font-medium">Manage Emergencies</span>
            </a>
        </li>
    </ul>
    <div class="border-t border-gray-200 pt-4 mt-4">
        <a href="/auth/logout" class="flex items-center text-gray-700 hover:bg-gray-300 p-2 rounded-md"
            id="logoutButton">
            <img src="../assets/logout-solid.png" alt="Logout" class="h-6 w-6 mr-3">
            <span class="font-medium">Logout</span>
        </a>
    </div>
</nav>

<!-- Mobile Navigation -->
<nav class="fixed inset-x-0 bottom-0 bg-[#015EB8] text-white p-4 flex justify-around items-center md:hidden z-50">
    <a href="/admin/viewIncidents" class="flex flex-col items-center">
        <img src="../assets/report-mobile.png" alt="View Incidents" class="h-7 w-7">
        <span class="text-xs mt-1">Incidents</span>
    </a>
    <a href="/admin/sendNotifications" class="flex flex-col items-center">
        <img src="../assets/alert-mobile.png" alt="Send Notifications" class="h-7 w-7">
        <span class="text-xs mt-1">Notify</span>
    </a>
    <a href="/admin" class="flex flex-col items-center">
        <img src="../assets/dashboard-mobile.png" alt="Dashboard" class="h-7 w-7">
        <span class="text-xs mt-1">Dashboard</span>
    </a>
    <a href="/admin/safetyResources" class="flex flex-col items-center">
        <img src="../assets/resources-mobile.png" alt="Safety Resources" class="h-7 w-7">
        <span class="text-xs mt-1">Resources</span>
    </a>
    <a href="/admin/generateCode" class="flex flex-col items-center">
        <img src="../assets/pick-code.png" alt="Generate Code" class="h-7 w-7">
        <span class="text-xs mt-1">Gen Code</span>
    </a>
    <a href="/admin/emergencyAlerts" class="flex flex-col items-center">
        <img src="../assets/caution-white.png" alt="Generate Code" class="h-7 w-7">
        <span class="text-xs mt-1">Emergencies</span>
    </a>
</nav>