<header class="bg-[#015EB8] text-white p-4 flex justify-between items-center">
    <div class="flex items-center">
        <img src="../assets/logo.png" alt="Campus Safety Logo" class="h-8 mr-2">
        <a href="#" class="text-xl font-semibold md:block">Campus Safety</a>
    </div>
    <div class="flex items-center space-x-4">
        <button class="bg-red-600 text-white p-2 rounded-full flex items-center hover:bg-[#c53030]">
            <img src="../assets/danger.png" alt="Danger" class="h-5 md:h-6 md:mr-2"> 
            <span class="md:inline-block font-medium">Panic</span>
        </button>
        <button class="bg-[#FDB913] text-white p-2 rounded-full flex items-center hover:bg-[#F5A623]">
            <img src="../assets/bell-ring.png" alt="Notifications" class="h-5 md:h-6 md:mr-2"> 
            <span class="hidden md:inline-block font-medium">Notifications</span>
        </button>
        <button class="px-4 py-2 rounded-full flex items-center"> 
            <img src="../assets/user-profile.png" alt="User Profile" class="h-8"> 
        </button>
    </div>
</header>
